In [200]:
#Pacakges
import pandas as pd
import numpy as np

In [201]:
data_set=pd.read_csv("weatherHistory.csv")

In [202]:
#size of the dataset
data_set.shape

(96453, 12)

In [203]:
#Available columns
data_set.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [204]:
#smaple data
data_set.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [205]:
#droping the unwanted columns from the dataset 
data_set.drop(columns=['Formatted Date','Daily Summary','Precip Type','Loud Cover','Wind Bearing (degrees)'],axis=1,inplace=True)

In [206]:
data_set.head()

,Summary,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,Partly Cloudy,9.472222,7.388889,0.89,14.1197,15.8263,1015.13
1,Partly Cloudy,9.355556,7.227778,0.86,14.2646,15.8263,1015.63
2,Mostly Cloudy,9.377778,9.377778,0.89,3.9284,14.9569,1015.94
3,Partly Cloudy,8.288889,5.944444,0.83,14.1036,15.8263,1016.41
4,Mostly Cloudy,8.755556,6.977778,0.83,11.0446,15.8263,1016.51

In [207]:
#checking the null value
data_set.isnull().sum()

Summary                     0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Visibility (km)             0
Pressure (millibars)        0
dtype: int64

In [208]:
#filling the null value with previous values,pandas default function
#data_set['Precip Type'].fillna(method="ffill",inplace=True,axis=0)

In [209]:
#checking the null value
data_set.isnull().sum()

Summary                     0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Visibility (km)             0
Pressure (millibars)        0
dtype: int64

In [234]:

data_set.loc[data_set['Summary']=="Breezy and Dry"]="Breezy"
data_set.loc[data_set['Summary']=="Windy and Foggy"]="Breezy"
data_set.loc[data_set['Summary']=="Dangerously Windy and Partly Cloudy"]="Breezy"
data_set.loc[data_set['Summary']=="Windy and Dry"]="Breezy"
data_set.loc[data_set['Summary']=="Breezy and Overcast"]="Breezy"
data_set.loc[data_set['Summary']=="Breezy and Partly Cloudy "]="Breezy"
data_set.loc[data_set['Summary']=="Breezy and Mostly Cloudy"]="Breezy"

data_set=data_set.loc[data_set['Summary']!="Humid and Overcast"]

data_set['Summary'].value_counts()

Partly Cloudy               31733
Mostly Cloudy               28094
Overcast                    16597
Clear                       10890
Foggy                        7148
Breezy and Overcast           528
Breezy and Mostly Cloudy      516
Breezy and Partly Cloudy      386
Dry and Partly Cloudy          86
Windy and Partly Cloudy        67
Light Rain                     63
Breezy                         54
Windy and Overcast             45
Humid and Mostly Cloudy        40
Drizzle                        39
Breezy and Foggy               35
Windy and Mostly Cloudy        35
Dry                            34
Humid and Partly Cloudy        17
Dry and Mostly Cloudy          14
Rain                           10
Name: Summary, dtype: int64

In [222]:
#data_set['Precip Type'].value_counts()

In [223]:
#For Regression algorith there should be dependent variable and independent variables
#In this project dataset dependent varible is Summary and all others are indepent varible ot to each other
#classify x and y axis
y=data_set.iloc[:,0]#First of the dataset i.e, Summary
x=data_set.iloc[:,1:]#except first row everything

In [224]:
x

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,9.472222,7.388889,0.89,14.1197,15.8263,1015.13
1,9.355556,7.227778,0.86,14.2646,15.8263,1015.63
2,9.377778,9.377778,0.89,3.9284,14.9569,1015.94
3,8.288889,5.944444,0.83,14.1036,15.8263,1016.41
4,8.755556,6.977778,0.83,11.0446,15.8263,1016.51
...,...,...,...,...,...,...
96448,26.016667,26.016667,0.43,10.9963,16.1000,1014.36
96449,24.583333,24.583333,0.48,10.0947,15.5526,1015.16
96450,22.038889,22.038889,0.56,8.9838,16.1000,1015.66
96451,21.522222,21.522222,0.60,10.5294,16.1000,1015.95
96452,20.438889,20.438889,0.61,5.8765,15.5204,1016.16

In [225]:
y

0        Partly Cloudy
1        Partly Cloudy
2        Mostly Cloudy
3        Partly Cloudy
4        Mostly Cloudy
             ...
96448    Partly Cloudy
96449    Partly Cloudy
96450    Partly Cloudy
96451    Partly Cloudy
96452    Partly Cloudy
Name: Summary, Length: 96431, dtype: object

In [226]:
#Now x consist of string value convert in to numerical value
summary=list(set(y))
sumary_dict={}
for i in range(len(summary)):
    sumary_dict[summary[i]]=i
sumary_dict

{'Breezy': 0,
 'Overcast': 1,
 'Windy and Mostly Cloudy': 2,
 'Partly Cloudy': 3,
 'Breezy and Partly Cloudy': 4,
 'Breezy and Overcast': 5,
 'Dry and Mostly Cloudy': 6,
 'Humid and Partly Cloudy': 7,
 'Dry': 8,
 'Dry and Partly Cloudy': 9,
 'Windy and Partly Cloudy': 10,
 'Clear': 11,
 'Light Rain': 12,
 'Mostly Cloudy': 13,
 'Breezy and Mostly Cloudy': 14,
 'Rain': 15,
 'Drizzle': 16,
 'Foggy': 17,
 'Humid and Mostly Cloudy': 18,
 'Windy and Overcast': 19,
 'Breezy and Foggy': 20}

In [195]:
# per=list(set(x['Precip Type']))
# per_dict={}
# for i in range(len(per)):
#     per_dict[per[i]]=i
# per_dict

{'rain': 0, 'snow': 1}

In [227]:
#convert using label encoder
y=y.apply(lambda z:sumary_dict[z])
#x['Precip Type']=x['Precip Type'].apply(lambda z:per_dict[z])

In [228]:
#We can convert using inbuilt function also i.e using lable encoder function fron sklearn
#from sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()
# y=le.fit_transform(data_set['Summary'])
# print(le.classes_)
# x['Precip Type']=le.fit_transform(x['Precip Type'])
# print(le.classes_)

In [229]:
#Normalizing the dataset between 0 to 1
#NArmalization formula=(x-min(x))/(max(x)-min(x))
x=(x-np.min(x))/(np.max(x)-np.min(x))

In [230]:
x

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
0,0.506975,0.523486,0.89,0.252447,0.983,0.970135
1,0.505085,0.521084,0.86,0.255037,0.983,0.970613
2,0.505445,0.553144,0.89,0.070236,0.929,0.970909
3,0.487805,0.501947,0.83,0.252159,0.983,0.971358
4,0.495365,0.517356,0.83,0.197467,0.983,0.971454
...,...,...,...,...,...,...
96448,0.774998,0.801259,0.43,0.196603,1.000,0.969399
96449,0.751778,0.779886,0.48,0.180484,0.966,0.970164
96450,0.710557,0.741944,0.56,0.160622,1.000,0.970642
96451,0.702187,0.734239,0.60,0.188256,1.000,0.970919
96452,0.684637,0.718085,0.61,0.105066,0.964,0.971119

In [232]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
lr=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=75)
lr.fit(x_train,y_train)

C:\Users\AD20094009\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [233]:
lr.score(x_test,y_test)

0.4915746357650231